polars
requests
minio
pandas
python-dotenv
resend
boto3
apache-airflow-providers-postgres
psycopg2-binary
sqlalchemy
urllib3
bs4
lxml
wheel
setuptools
Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
retrying
six
Werkzeug
gunicorn